.item {
  margin-left: 5em;
  border: 1px solid black;
  padding-left: 3%;
  padding-top: 3%;
  // float: left;
  width: 40%;
  display: flex;
  padding-bottom: 0%;
  background-color: white;
}

.content {
  width: 68%
}

.my-red-button {
  @include button;
  background-color: red;
  width: 30%;
  &:hover {
    background: black;
  }
 }

 .my-green-button {
  @include button;
  background-color: green;
  width: 30%;
  &:hover {
    background: black;
  }
}

.deleteBox {
  // border: 5px solid red;
  margin-bottom: 0%;
  float: right;
  padding: 1px;
  float: right;
  width: 30%;
}
