.item {
  // background: $light-grey;
  margin-left: 3em;
  // border: 5px solid red;
  // padding-left: 3%;
  // padding-top: 3%;
  // float: left;
  width: auto;
  // display: flex;
  padding-bottom: 0%;
  // background-color: white;
  height: auto;
  overflow:hidden ; /* minds inside and outside floatting elements, fine if no size given */
  display:block; /* or whatever else than inline */
  clear:both;
}

.content {
  width: auto;
  border: 1px solid green;

}

.my-red-button {
  @include button;
  background-color: red;
  width: 30%;
  &:hover {
    background: black;
  }
 }

 .my-green-button {
  @include button;
  background-color: green;
  width: 30%;
  &:hover {
    background: black;
  }
}

.deleteBox {
  // border: 5px solid red;
  margin-bottom: 0%;
  float: right;
  padding: 1px;
  // float: right;
  width: 30%;
}
