.main-container {
  width: 95%
}


.container {
  background: $light-grey;
  // border: 1px solid black;
  // border-radius: 25px;
  padding: 0;
  padding-bottom: 2%;
  margin-bottom: 2rem;
  height: auto;
  width: auto;
  // width: 50%;
  // margin: 0 auto;
  margin-top: 5%;
  margin-left: 2%;
  overflow:hidden
}

.button-box {
  width: 40em;
  border: 1px solid black;
  height: auto;
}

.title {
  border: 1px solid black;
  width: auto;
  height: auto;
  // text-align: center;
  overflow:hidden
}

.form-list {
  width: 90%;
  margin: 0 auto;
}


// body {
//     background-image: url("http://kingofwallpapers.com/soft-wallpapers/soft-wallpapers-013.jpg");
//     background-repeat: no-repeat;
//     background-attachment: fixed;
// }

.just-text {
  width: 100%;
  float: left;
  border: 1px solid black;

}
